[package]
name = "compiletest_rs"
version = "0.2.1"
authors = [ "The Rust Project Developers"
          , "Thomas Bracht Laumann Jespersen <laumann.thomas@gmail.com>"
          , "Manish Goregaokar <manishsmail@gmail.com>"
          ]
description = "The compiletest utility from the Rust compiler as a standalone testing harness"
license = "Apache-2.0/MIT" # Same as rustc
repository = "https://github.com/laumann/compiletest-rs"
keywords = ["compiletest", "test", "plugin"]
readme = "README.md"

[lib]
name = "compiletest_rs"
path = "src/compiletest.rs"

[dependencies]
log = "0.3.5"
rustc-serialize = "0.3"
