[package]
name = "compiletest_rs"
version = "0.3.2"
authors = [ "The Rust Project Developers"
          , "Thomas Bracht Laumann Jespersen <laumann.thomas@gmail.com>"
          , "Manish Goregaokar <manishsmail@gmail.com>"
          ]
description = "The compiletest utility from the Rust compiler as a standalone testing harness"
license = "Apache-2.0/MIT" # Same as rustc
repository = "https://github.com/laumann/compiletest-rs"
keywords = ["compiletest", "test", "plugin"]
readme = "README.md"

[lib]
name = "compiletest_rs"

[dependencies]
diff = "0.1.10"
filetime = "0.1"
getopts = "0.2"
log = "0.3"
rustc-serialize = "0.3"
libc = "0.2"
tempdir = { version = "0.3", optional = true }

[features]
tmp = ["tempdir"]
